<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="users"
				 type="System.Configuration.NameValueSectionHandler" />
		<section name="usersCreds"
				 type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	
	<appSettings>
		<!-- Database Credintials. -->
		<add key="Home_Server_Encrypted_Credentials"
			 value="qdDYD0UwZke9ZcRjqiE0Hl9oIsQ8qeDbWdn91U4jY57i3pJmYWpoNpVU3EgS32MgkBy5jwzf9aBTMEXfZMNxRmtpLLg3zylOyIsS76XiOKTcTQfn0KBoR/NUHToeI6gidjBpZEtIMXYReO5+NGmgFbgpvjRceIYa2+WoL7T5m+kAz7JPSyPMbKSjBmtO4DjmUwHVOGA6hbMDJWa0SphLdBJvsG/sWjdkrM+BtHGb3lQAT9I46IBGPvv1Yx90mkppbSZpSRF9/ieqv7TGEL/dXgd6H05xec0cCewYuKlbhtuuzZeVc7MTpaJAMVGerj6m2UAteDvGR0jMJ+DZeQ1KGw==" />
		<add key="MTU_Server_Encrypted_Credentials"
			 value="xJJk1lAUmTCvfoGupy0m2PhcJQ+7dUaam4itesiPx+yl2agmrODA7j22N3lDHS2bm9c05L70VcLgbfYJQcM7vP9g2ULHDdwIbT7LJ+Cyna46xRxSffDsn3MxUO4QXIusCfxSNjjnvctK1H10G8+iWDJk3e8E3YTIYDW8ACYtHW3miMoSf5NlZrspf2Vbr/KMtSUEzf3mNhVZJpGPjx5pSkYjardAT7Wy4mDR2QAPj75jsL0S5Av8u17jEviarEi0iloD+srLmF3BbfEc3ydk89GizLe5/yHcq5eN19MzbBKXrPxODwk9oZTCjkHbx66DZyiUkGQFnPsyazLerif5Pw==" />
		<add key="RsaPrivateKeyPath"
			 value="OneDrive - Munster Technological University\SEP\Credentials_Private_Key.xml" />
	</appSettings>
	
	<users>
		<add key="admin"
			 value="admin"/>
		<add key="recpt"
			 value="recpt"/>
	</users>
	
	<usersCreds>
		<add key="admin"
			 value="admin"/>
		<add key="recpt"
			 value="recpt"/>
	</usersCreds>
</configuration>